/* Defines */
:root {
  --clrText: #ccc;
  --clrTextFaint: #888;
  --clrTextFainter: #444;
  --clrTextTerminal: #8d8b76;
  --clrTextError: #b63939;
  --clrBodyBg: black;
  --clrPanelBg: #202020;
  --clrControl: #9f7e52;
  --clrControlHover: #d08e4c;
}

/* Global overrides */
* { box-sizing: border-box; scrollbar-color: #333 var(--clrPanelBg); }
::-webkit-scrollbar { background-color: var(--clrPanelBg); width: 8px; }
::-webkit-scrollbar-thumb { background-color: #333; }

a { color: #8bb3e0; text-decoration: none; }
a:hover { text-decoration: underline; }

/* Layout, specifics */
html, body { height: 100%; width: 100%; margin: 0; padding: 0; overflow: hidden; }
html { background-color: var(--clrPanelBg); }

container {
  width: 100%; padding: 20px;
  display: flex; justify-content: flex-end;
}

#canv {
  width: 640px; height: 512px;
  border: 1px solid var(--clrControl);
  background-color: black;
}